    
    body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #A82626;
}

.login-box {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    text-align: center;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.login-box h2 {
    margin-top: 0;
    color: #000000;
    padding: 0 0 20px;
    
}

.user-box {
    position: relative;
}

.user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000000;
    margin-bottom: 30px;
    border: 2px solid black;
    border-radius: 5px;
    outline: none;
    background: transparent;
}

.user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #000000;
    pointer-events: none;
    transition: 0.5s;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #000000;
    font-size: 12px;
}
